@{
    ViewData["Title"] = "DASHBOARD";
}

<h1 class="lightfont">Dashboard</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="boxDash">
            <img class="iconLogo" src="/Images/ic-actions-user.png"><h3 class="lightfont textBox">Owners</h3>
            <a class="iconArrow" asp-area="" asp-controller="Owners" asp-action="Index">
                <img src="/Images/ic-arrows-right.png">
            </a>
        </div> 
    </div>
    <div class="col-md-offset-2 col-md-4">
        <div class="boxDash">
            <img class="iconLogo" src="/Images/ic-editor-block.png"><h3 class="lightfont textBox">Locations</h3>
            <a class="iconArrow" asp-area="" asp-controller="Locations" asp-action="Index">
                <img src="/Images/ic-arrows-right.png">
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="boxDash">
            <img class="iconLogo" src="/Images/ic-actions-user.png"><h3 class="lightfont textBox">Managers</h3>
            <a class="iconArrow" asp-area="" asp-controller="Managers" asp-action="Index">
                <img src="/Images/ic-arrows-right.png">
            </a>
        </div>    
</div>
    <div class="col-md-offset-2 col-md-4">
        <div class="boxDash">
            <img class="iconLogo" src="/Images/ic-editor-block.png"><h3 class="lightfont textBox">Events</h3>
            <a class="iconArrow" asp-area="" asp-controller="Events" asp-action="Index">
                <img src="/Images/ic-arrows-right.png">
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="boxDash">
            <img class="iconLogo" src="/Images/ic-actions-user.png"><h3 class="lightfont textBox">Participants</h3>
            <a class="iconArrow" asp-area="" asp-controller="Participants" asp-action="Index">
                <img src="/Images/ic-arrows-right.png">
            </a>
        </div>
    </div>
</div>    

