@{
    ViewData["Title"] = "DASHBOARD";
}

<h1 class="lightfont">Dashboard</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="boxDash">
            <h3 class="lightfont">Owners</h3>
            <i class="bi bi-arrow-right lightfont"></i>
        </div>
    </div>
    <div class="col-md-offset-2 col-md-4">
        <div class="boxDash">
            <h3 class="lightfont">Locations</h3>
            <i class="bi bi-arrow-right lightfont"></i>
        </div>
    </div>
    <div class="col-md-4">
        <div class="boxDash">
            <h3 class="lightfont">Managers</h3>
            <i class="bi bi-arrow-right lightfont"></i>
        </div>
    </div>
    <div class="col-md-offset-2 col-md-4">
        <div class="boxDash">
            <h3 class="lightfont">Events</h3>
            <a href="/Home/Index">
                <img src="/Images/ic-arrows-right.png">
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="boxDash">
            <h3 class="lightfont">Participants</h3>
            <i class="bi bi-arrow-right lightfont"></i>
        </div>
    </div>
</div>    

