@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center boxMiddle">
    <span>
        <h1 class="display-4">Welcome</h1>
        <p>Please log in to the system to be able to manage your events.</p>
    </span>
</div>
