@model EventsPlusApp.Models.EventAssignment

@{
    ViewData["Title"] = "Edit";
}

<h1 class="lightfont">Edit</h1>

<h4 class="lightfont">EventAssignment</h4>
<hr />
<div class="row lightfont">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ManagerID" />
            <input type="hidden" asp-for="EventID" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="lightfont">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
